doctype html
html(ng-app='currency-project')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src='/javascripts/angular.min.js')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/global.js')
    body(ng-controller='CurrencyController as currency')
        h1= title
        select(class='form-control', style='width: 300px',
            ng-model='selectedItem', ng-options='provider.title for provider in currency.providerData')
        div
        table(class='table table-condensed table-bordered' style='width: 450px')
            caption Atnaujinta: {{selectedItem.dateUpdated}}
            thead(style='font-weight: bold')
                tr
                    td Valiuta
                    td Kursas
                    td Pokytis
            tbody
                tr(ng-repeat='recordRow in selectedItem.recordTable[0].currencyTable')
                    td {{recordRow.isoCode}}
                    td {{recordRow.currencyRates[recordRow.currencyRates.length-1]}}
                    td {{recordRow.delta}}